<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finaldileverable3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".item6" />
        <activity android:name=".item5" />
        <activity android:name=".item4" />
        <activity android:name=".item3" />
        <activity android:name=".item2" />
        <activity android:name=".item1" />
        <activity android:name=".ThankActivity" />
        <activity android:name=".ShippingActivity" />
        <activity android:name=".Shopping_cart" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SighInActivity" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>